@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
}

@layer base {
  :root {
    --background: 222 47% 7%;
    --foreground: 213 31% 91%;
    --border: 216 34% 15%;
  }

  .dark {
    --background: 222 47% 7%;
    --foreground: 213 31% 91%;
    --border: 216 34% 15%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
